In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("atp_tennis.csv")

In [7]:
df.shape

(66681, 17)

In [11]:
df.describe()

,Best of,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2
count,66681.000000,66681.000000,66681.000000,66681.000000,66681.000000,66681.000000,66681.000000
mean,3.377529,75.846103,75.543543,1134.708973,1139.502527,2.414427,2.411957
std,0.782649,100.610092,100.879448,1721.139941,1744.762999,2.660011,2.640809
min,3.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,3.000000,24.000000,24.000000,117.000000,120.000000,1.333000,1.333000
50%,3.000000,53.000000,54.000000,701.000000,701.000000,1.736667,1.800000
75%,3.000000,92.000000,92.000000,1250.000000,1253.000000,2.750000,2.750000
max,5.000000,3390.000000,4915.000000,16950.000000,16950.000000,67.000000,51.000000

In [12]:
df.isna().sum()

Tournament    0
Date          0
Series        0
Court         0
Surface       0
Round         0
Best of       0
Player_1      0
Player_2      0
Winner        0
Rank_1        0
Rank_2        0
Pts_1         0
Pts_2         0
Odd_1         0
Odd_2         0
Score         0
dtype: int64

In [20]:
(df["Pts_2"] == -1).sum()

np.int64(15653)

In [16]:
df.shape

(66681, 17)

In [19]:
(df["Odd_1"] == -1).sum()

np.int64(3782)

In [22]:
df["Pts_1"].sort_values()

0           -1
10428       -1
10429       -1
10430       -1
10431       -1
         ...
42870    16790
42814    16790
42912    16790
44225    16950
44190    16950
Name: Pts_1, Length: 66681, dtype: int64

In [26]:
df[df["Pts_1"] > 0]

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score
15652,Swedish Open,2005-07-04,International,Outdoor,Clay,1st Round,3,Robredo T.,Tabara M.,Robredo T.,20,112,1425,381,1.10,6.00,7-5 6-0
15653,Swedish Open,2005-07-04,International,Outdoor,Clay,1st Round,3,Ryderstedt M.,Vinciguerra A.,Vinciguerra A.,132,917,326,9,1.66,2.10,3-6 1-6
15654,Swedish Open,2005-07-05,International,Outdoor,Clay,1st Round,3,Youzhny M.,Haehnel J.,Youzhny M.,27,109,1200,391,1.19,4.00,6-1 6-1
15655,Swedish Open,2005-07-05,International,Outdoor,Clay,1st Round,3,Dlouhy L.,Ferrero J.C.,Ferrero J.C.,136,31,315,1150,7.00,1.07,4-6 1-6
15656,Swedish Open,2005-07-05,International,Outdoor,Clay,1st Round,3,Berdych T.,Kim K.,Berdych T.,42,71,811,541,1.19,4.00,6-2 6-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66676,Masters Cup,2025-11-14,Masters Cup,Indoor,Hard,Round Robin,3,Sinner J.,Shelton B.,Sinner J.,2,5,10000,3970,1.05,10.00,6-3 7-6
66677,Masters Cup,2025-11-14,Masters Cup,Indoor,Hard,Round Robin,3,Zverev A.,Auger-Aliassime F.,Auger-Aliassime F.,3,8,4960,3845,4.50,1.20,4-6 6-7
66678,Masters Cup,2025-11-15,Masters Cup,Indoor,Hard,Semifinals,3,Sinner J.,De Minaur A.,Sinner J.,2,7,10000,3935,1.05,10.00,7-5 6-2
66679,Masters Cup,2025-11-15,Masters Cup,Indoor,Hard,Semifinals,3,Auger-Aliassime F.,Alcaraz C.,Alcaraz C.,8,1,3845,11050,4.50,1.20,2-6 4-6
66680,Masters Cup,2025-11-16,Masters Cup,Indoor,Hard,The Final,3,Sinner J.,Alcaraz C.,Sinner J.,2,1,10000,11050,1.50,2.63,7-6 7-5

In [29]:
df["Date"] = pd.to_datetime(df["Date"])

In [34]:
df["pts_dif"] = df["Pts_1"] - df["Pts_2"]

In [44]:
df_new = df[df["Date"] > "2010-01-01"]

In [45]:
df_new

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score,pts_dif
27525,Brisbane International,2010-01-04,ATP250,Outdoor,Hard,1st Round,3,Nieminen J.,Gasquet R.,Gasquet R.,88,52,568,850,2.62,1.44,3-6 6-4 4-6,-282
27526,Brisbane International,2010-01-04,ATP250,Outdoor,Hard,1st Round,3,Odesnik W.,Clement A.,Odesnik W.,105,63,521,667,2.25,1.57,6-4 7-6,-146
27527,Brisbane International,2010-01-04,ATP250,Outdoor,Hard,1st Round,3,Petzschner P.,Gicquel M.,Gicquel M.,80,58,587,744,2.20,1.61,3-6 1-6,-157
27528,Brisbane International,2010-01-04,ATP250,Outdoor,Hard,1st Round,3,Falla A.,Chardy J.,Falla A.,81,32,587,1102,2.62,1.44,6-4 6-4,-515
27529,Brisbane International,2010-01-04,ATP250,Outdoor,Hard,1st Round,3,Llodra M.,Levy H.,Levy H.,67,119,649,461,1.36,3.00,2-6 0-6,188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66676,Masters Cup,2025-11-14,Masters Cup,Indoor,Hard,Round Robin,3,Sinner J.,Shelton B.,Sinner J.,2,5,10000,3970,1.05,10.00,6-3 7-6,6030
66677,Masters Cup,2025-11-14,Masters Cup,Indoor,Hard,Round Robin,3,Zverev A.,Auger-Aliassime F.,Auger-Aliassime F.,3,8,4960,3845,4.50,1.20,4-6 6-7,1115
66678,Masters Cup,2025-11-15,Masters Cup,Indoor,Hard,Semifinals,3,Sinner J.,De Minaur A.,Sinner J.,2,7,10000,3935,1.05,10.00,7-5 6-2,6065
66679,Masters Cup,2025-11-15,Masters Cup,Indoor,Hard,Semifinals,3,Auger-Aliassime F.,Alcaraz C.,Alcaraz C.,8,1,3845,11050,4.50,1.20,2-6 4-6,-7205
66680,Masters Cup,2025-11-16,Masters Cup,Indoor,Hard,The Final,3,Sinner J.,Alcaraz C.,Sinner J.,2,1,10000,11050,1.50,2.63,7-6 7-5,-1050

In [50]:
df = df_new.copy()

In [51]:
df

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score,pts_dif
27525,Brisbane International,2010-01-04,ATP250,Outdoor,Hard,1st Round,3,Nieminen J.,Gasquet R.,Gasquet R.,88,52,568,850,2.62,1.44,3-6 6-4 4-6,-282
27526,Brisbane International,2010-01-04,ATP250,Outdoor,Hard,1st Round,3,Odesnik W.,Clement A.,Odesnik W.,105,63,521,667,2.25,1.57,6-4 7-6,-146
27527,Brisbane International,2010-01-04,ATP250,Outdoor,Hard,1st Round,3,Petzschner P.,Gicquel M.,Gicquel M.,80,58,587,744,2.20,1.61,3-6 1-6,-157
27528,Brisbane International,2010-01-04,ATP250,Outdoor,Hard,1st Round,3,Falla A.,Chardy J.,Falla A.,81,32,587,1102,2.62,1.44,6-4 6-4,-515
27529,Brisbane International,2010-01-04,ATP250,Outdoor,Hard,1st Round,3,Llodra M.,Levy H.,Levy H.,67,119,649,461,1.36,3.00,2-6 0-6,188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66676,Masters Cup,2025-11-14,Masters Cup,Indoor,Hard,Round Robin,3,Sinner J.,Shelton B.,Sinner J.,2,5,10000,3970,1.05,10.00,6-3 7-6,6030
66677,Masters Cup,2025-11-14,Masters Cup,Indoor,Hard,Round Robin,3,Zverev A.,Auger-Aliassime F.,Auger-Aliassime F.,3,8,4960,3845,4.50,1.20,4-6 6-7,1115
66678,Masters Cup,2025-11-15,Masters Cup,Indoor,Hard,Semifinals,3,Sinner J.,De Minaur A.,Sinner J.,2,7,10000,3935,1.05,10.00,7-5 6-2,6065
66679,Masters Cup,2025-11-15,Masters Cup,Indoor,Hard,Semifinals,3,Auger-Aliassime F.,Alcaraz C.,Alcaraz C.,8,1,3845,11050,4.50,1.20,2-6 4-6,-7205
66680,Masters Cup,2025-11-16,Masters Cup,Indoor,Hard,The Final,3,Sinner J.,Alcaraz C.,Sinner J.,2,1,10000,11050,1.50,2.63,7-6 7-5,-1050

In [52]:
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# 1. Target Creation
# If Player_1 is the Winner, target is 1, else 0
y = (df['Winner'] == df['Player_1']).astype(int)

# 2. Feature Selection
numerical_cols = ['Rank_1', 'Rank_2', 'Pts_1', 'Pts_2', 'Odd_1', 'Odd_2', 'Best of']
categorical_cols = ['Series', 'Court', 'Surface', 'Round']

# Select features X
X = df[numerical_cols + categorical_cols].copy()

# 3. Preprocessing Pipeline

# Replace -1 with NaN in numerical columns to allow SimpleImputer to handle them
X[numerical_cols] = X[numerical_cols].replace(-1, np.nan)

# Numerical Pipeline: Impute missing values (median) -> Scale
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

# Categorical Pipeline: OneHotEncode
categorical_transformer = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Combine transformers
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ]
)

# Full Pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor)])

# 4. Execution
# Fit and transform the data
X_processed = pipeline.fit_transform(X)

# Convert back to DataFrame for better visualization
# Get feature names from OHE
ohe_feature_names = preprocessor.named_transformers_['cat'].get_feature_names_out(categorical_cols)
all_feature_names = numerical_cols + list(ohe_feature_names)

X_final = pd.DataFrame(X_processed, columns=all_feature_names)

print("Shape of X:", X_final.shape)
print("Shape of y:", y.shape)
X_final.head()

Shape of X: (39156, 25)
Shape of y: (39156,)

,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Best of,Series_ATP250,Series_ATP500,Series_Grand Slam,...,Surface_Grass,Surface_Hard,Round_1st Round,Round_2nd Round,Round_3rd Round,Round_4th Round,Round_Quarterfinals,Round_Round Robin,Round_Semifinals,Round_The Final
0,0.143173,-0.215999,-0.522363,-0.373664,-0.037297,-0.440239,-0.491878,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.315668,-0.106558,-0.546952,-0.467538,-0.163938,-0.395189,-0.491878,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.061999,-0.156304,-0.512422,-0.428039,-0.181051,-0.381328,-0.491878,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.072146,-0.414982,-0.512422,-0.244394,-0.037297,-0.440239,-0.491878,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.069909,0.450596,-0.479985,-0.573211,-0.468560,0.100360,-0.491878,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0